<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/assets/css/style.css">
    <title>Eat Da Burger</title>
</head>

<body>
    {{{body}}}
</body>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", (event) => {
        if (event) {
            console.info("DOM loaded")
        }

        const devourBtn = document.querySelectorAll(".devour")

        if (devourBtn) {
            devourBtn.forEach((button) => {
                button.addEventListener("click", (event) => {
                    const id = event.target.getAttribute("data-id")
                    const devourStatus = event.target.getAttribute("data-devoured")

                    const newDevouredState = { devoured: devourStatus, }

                    fetch(`api/burgers/${id}`, {
                        method: "PUT",

                        body: JSON.stringify(devourStatus),
                    }).then((response) => {
                        if (response.ok) {
                            location.reload("/")
                        } else {
                            alert("Something went wrong...")
                        }
                    })
                })
            })
        }

        const newBurgerBtn = document.getElementById("create-burger")

        if (newBurgerBtn) {
            newBurgerBtn.addEventListener("click", (event) => {

                const newBurger = {
                    name: document.getElementById("bur").value.trim(),
                }

                fetch(`api/burgers`, {
                    method: "POST",

                    body: JSON.stringify(newBurger),
                }).then(() => {
                    document.getElementById("bur").value = ""
                    location.reload("/")
                })
            })
        }
    })
</script>

</html>